main {
  position: relative;
  display: "flex";
  width: "100%";
  background-color: "#44994400";
  padding: 0px 266px;
  overflow-x: hidden;
}

.input_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 22px;
}

input {
  height: 100px;
  border-radius: 30px;
  padding: 1rem 1.5rem;
  border: #000000;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #242D63;
  background-color: #bfd5b966;
}

input::placeholder {
  
  color: #242d63AA;
}

label {
  color: #EC2028;
  font-family: Lato;
  font-size:28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

textarea {
  margin-top: 0px;
  resize: none;
  height: 269px;
  border-radius: 30px;
  padding: 1rem 1.5rem;
  font-family: Lato;
  font-size: 28px;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #242D63;
  background-color: #bfd5b966;
  border: #000000;
}

textarea::placeholder {
  
  color: #242d63AA;
}

button {
  margin: 10px 0px;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  border: transparent;
  padding: 0.5em 2em;
  font-size: 2em;
  font-family: "Lato", sans-serif ;
  font-weight: 500;
  font-family: inherit;
  background-color: #ec2028;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.star_container {
  display: flex;
  flex-direction: row;
}

.star_hidden {
  visibility: hidden;
}

h2 {
  color: #ec2028;
  line-height: 90%;
  margin: 0px;
  font-size: 160px;
}

.img__ctct {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 800px;

  z-index: -99999;
  
}


.react-select-container{
   height: 100px;
  border-radius: 30px;
  border: #000000;
  font-size: 28px;
  font-style: normal;
  font-family: Lato;
  font-weight: 400;
  line-height: normal;
  color: #242D63;
  background-color: #bfd5b966;
}


.react-select__value-container{
    height: 100px;
    border-radius: 30px;

}

.react-select__indicators{
  height: 100px;
}


.react-select__control{
  border: #00000000;
  border-radius: 30px;
    padding-left: 20px;

}

.react-select__option--is-focused {
  background-color: #EC2028;
}




@media only screen and (min-width: 0px) and (max-width: 500px) {
  /* all css here goes for mobile .. i'm not sure about how much pixel though :D */

  img {
    top: 60px;
    right: 0px;
    width: 300px;
  }

  h2 {
    color: #ec2028;
    line-height: 90%;
    margin: 0px;
    font-size: 70px;
  }

  main {
    padding: 0px 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 28px 0px;
    width: 100%;
  }

  .input_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  input:not(.exept) {
    height: 64px;
    border-radius: 20px;
    font-size: 16px;
  }

  textarea {
    height: 160px;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 16px;
    background-color: #bfd5b966;
  }

  textarea::placeholder {
    color: #242d63;
    
  }

  button {
    font-size: 1.25rem;
  }


.react-select-container{
  height: 64px;
    border-radius: 20px;
    font-size: 16px;
}


.react-select__value-container{
   height: 64px;
    border-radius: 20px;
    font-size: 16px;

}

.react-select__indicators{
  height: 64px;
    border-radius: 20px;
    font-size: 16px;
}


.react-select__control{
 height: 64px;
    border-radius: 20px;
    font-size: 16px;
    padding-left: 20px;
}


}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
  main {
    padding: 0px 100px;
  }

  main >img {
    position: absolute;
    top: 400px;
    right: 0px;
    width: 600px;

    z-index: -99999;
    
  }

  h2 {
    color: #ec2028;
    line-height: 90%;
    margin: 0px;
    font-size: 130px;
  }

  .star_title {
    color: #ec2028;
    width: 100%;
    font-family: "Wosker Demo";
    font-size: 190px;
    text-wrap: nowrap;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    margin: 50px 0px;
  }
}

ul {
  color: #ec2028;
}
